<div class="card-box">
    <div class="title-card-box">
        <h1>Tipo de produto</h1>
        <h3>ATUALIZAR</h3>
    </div>
    <ul class="list-box">
        <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
       <li class="iten-box">
            <div class="button-buy">
                <button class="buy">Comprar</button>
            </div>
            <img src="../assets/img/product.jpg" alt="" class="img-item">
            <div class="iten-info">
                <p>Apple MacBook Pro 13", Chip M1, 8GB RAM, 256GB SSD - Space Gray</p>
            </div>
            <div class="iten-price"> 
                <div class="price-product-old">
                    <p> de R$ 7.000,00 </p>
                </div>
                <div class="price-product-new">
                    <p> Por R$</p>
                    <p>5.000,00</p>
                </div>
                <p>Em até 12X sem juros !</p>
            </div>
        </li>
    </ul>

    <div class="pagination">
        <button><<</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>>></button>
    </div>
</div>