<div class="card">
    <div class="title-home">
        <h2>Olá, seja bem-vindo a loja Storm shop!</h2>
        <h4>Aqui voce ira encontrar as melhores ofertas na area de tecnologia!</h4>
    </div>
   
    <div class="list-product">
        <ul>
            <li class="iten-box">
               
                <img src="../assets/img/product.jpg" alt="" class="img-item">
                <div class="iten-info">
                    <p>Apple MacBook Pro 13</p>
                </div>
                <div class="iten-price"> 
                    <div class="price-product-old">
                        <p> de R$ 7.000,00 </p>
                    </div>
                    <div class="price-product-new">
                        <p> Por R$</p>
                        <p>5.000,00</p>
                    </div>
                    <button class="buy">Comprar</button>
                </div>
            </li>
            <li class="iten-box">
               
                <img src="../assets/img/product.jpg" alt="" class="img-item">
                <div class="iten-info">
                    <p>Apple MacBook Pro 13</p>
                </div>
                <div class="iten-price"> 
                    <div class="price-product-old">
                        <p> de R$ 7.000,00 </p>
                    </div>
                    <div class="price-product-new">
                        <p> Por R$</p>
                        <p>5.000,00</p>
                    </div>
                    <button class="buy">Comprar</button>
                </div>
            </li>
            <li class="iten-box">
               
                <img src="../assets/img/product.jpg" alt="" class="img-item">
                <div class="iten-info">
                    <p>Apple MacBook Pro 13</p>
                </div>
                <div class="iten-price"> 
                    <div class="price-product-old">
                        <p> de R$ 7.000,00 </p>
                    </div>
                    <div class="price-product-new">
                        <p> Por R$</p>
                        <p>5.000,00</p>
                    </div>
                    <button class="buy">Comprar</button>
                </div>
            </li>
            <li class="iten-box">
               
                <img src="../assets/img/product.jpg" alt="" class="img-item">
                <div class="iten-info">
                    <p>Apple MacBook Pro 13</p>
                </div>
                <div class="iten-price"> 
                    <div class="price-product-old">
                        <p> de R$ 7.000,00 </p>
                    </div>
                    <div class="price-product-new">
                        <p> Por R$</p>
                        <p>5.000,00</p>
                    </div>
                    <button class="buy">Comprar</button>
                </div>
            </li>
            <li class="iten-box">
               
                <img src="../assets/img/product.jpg" alt="" class="img-item">
                <div class="iten-info">
                    <p>Apple MacBook Pro 13</p>
                </div>
                <div class="iten-price"> 
                    <div class="price-product-old">
                        <p> de R$ 7.000,00 </p>
                    </div>
                    <div class="price-product-new">
                        <p> Por R$</p>
                        <p>5.000,00</p>
                    </div>
                    <button class="buy">Comprar</button>
                </div>
            </li>
        </ul>
    </div>
   

    <div class="bunner-home">
        <div class="title-bunner-home">
            <a [routerLink]="['/products']"><h3>+Produtos</h3></a>
        </div>

        <img src="../assets/img/iphone13.png" alt="" class="img-bunner-home">
    </div>
</div>
