*p{
  color: black;
  font-size: 9px;
}
.card{
  width: 800px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);

  ul{
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iten-box{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-item{
      width: 150px;
      
    }
    .iten-info{
      width: 100px;
      margin: 0;
      padding: 0;
    }
    .iten-price{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin: 0;
      padding: 0;
      p{
        padding: 0;
        margin: 0px;
        color: black;
      }
      .price-product-old{
        color: black;
        display: flex;
        text-decoration: line-through;
      }
      .price-product-new{
        color: black;
        display: flex;
        align-items: center;
      }
    }

    .buy{
      margin-top: 3px;
      border: none;
      background-color: rgb(186, 187, 187);
      border-radius: 5px;
      padding: 5px;
    }

    .buy:hover{
      transform: scale(1.03);
      transition: 0.2s;
      background-color: rgb(87, 87, 87);
      color: white;
    }
  }

  .bunner-home{
    margin-top: 10px;
    .title-bunner-home{
      display: flex;
      justify-content: flex-end;
      h3{
        color: black;
        text-decoration: underline;
      }
      h3:hover{
        transform: scale(1.03);
        transition: 0.05;
        color: rgb(63, 62, 62);
      }
    }
    .img-bunner-home{
      width: 100%;
    }
  
  }
  
}



